$ui-base: 5px;

$colors: (
    white: #fff,
    black: #272727,
    blacken: #0f0f0f,
    green: #68cd71,
    green-dark: #1d3e2f,
    green-medium: #355749,
    pink-lighten: #ffcbd9,
    pink: #ff0046,
    pink-dark: #c00d3d,
    yellow: #f4d31f,
    yellow-light: #f4d31f,
    gray: #414141,
    gray-light: #949494,
);

$hs: (
    h1: 4rem,
    h2: 3rem,
    h3: 2.5rem,
    h4: 2rem,
    h5: 1.8rem
);

