@import '~bootstrap/scss/bootstrap.scss';
@import "variables";
@import "mixins";
@import "fonts";
@import "splash";
@import "about";
@import "modal";
@import "webnav";
@import "courses";
@import "teachers";
@import "media";
@import "contact";
@import "footer";
@import "pagination";

html, body {
    font-size: 16px;
}
html, body, p {
    font-family: avenir-regular;
}

@each $h, $size in $hs {
    #{$h} {
        font-size: $size;
    }
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.5rem;
    font-family: big-noodle;
    text-transform: uppercase;
    text-align: center;
}

nav {
    width: 100%;
}

.sticky {
    opacity: 1;
}

.container {
    @include media-breakpoint-down(md){
        padding-left: 8vw;
        padding-right: 8vw;
    }
}